{% extends "base.html" %}

{% block content %}
<!--Form with header-->
<div class="card">
    <div class="card-block">

        <!--Header-->
        <div class="form-header blue-gradient">
            <h3><i class="fa fa-user"></i>Signup</h3>
        </div>
        <form method="post">
        <!--Body-->
        <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" id="form3" class="form-control" name="username" value="{{username}}">
            <label for="form3">Your name</label>
            <td class="error">
            {{error_username}}
            </td>
        </div>

         <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" id="form4" class="form-control" name="password" value="">
            <label for="form4">Your password</label>
            <td class="error">
            {{error_password}}
            </td>
        </div>
        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" id="form4" class="form-control" name="verify" value="">
            <label for="form4">Verify Password</label>
            <td class="error">
            {{error_verify}}
            </td>
        </div>


        <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="text" id="form2" class="form-control" name="email" value="{{email}}">
            <label for="form2">Your email (optional)</label>
            <td class="error">
            {{error_email}}
            </td>
        </div>

       

        <div class="text-center">
            <button class="btn btn-indigo" type="submit">Signup</button>
        </div>
    </form>

    </div>
</div>

<!--/Form-->
{% endblock %}